spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: mdd-api

  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/mdd?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        # dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: false

server:
  port: ${SERVER_PORT:3001}

app:
  jwt:
    secret: ${JWT_SECRET:my-default-dev-secret-key-that-is-long-enough-for-hs256-algorithm}
    expiration-ms: ${JWT_EXPIRATION_MS:86400000}
