.profile-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 24px;
}

.messages {
  margin-bottom: 8px;

  .success {
    color: var(--color-green);
  }

  .error {
    color: var(--color-error);
  }
}
