h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}

.separator {
  border: none;
  border-top: 1px solid #000;
  margin: 32px 0;
}

.profile-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 24px;
}

.messages {
  margin-bottom: 8px;

  .success {
    color: var(--color-green);
  }

  .error {
    color: var(--color-error);
  }
}
